
* {
    box-sizing: border-box;
}
@font-face{
    font-family: scriptina;
    src:url(font/SCRIPTIN.ttf);
    font-family: bread;
    src: url(font/Bread\ Day.ttf);
}
@font-face{
     font-family: breadstore;
    src: url(font/breadstore\BStore.ttf);
    font-family: breadcheese;
    src: url(font/breadcheese\Bread&Cheese.ttf);
}
    body{
        background-image:url(image/background\ home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        font-family: "ubuntu";
    }
    img {
        width: 100%;
    }
    header {
        /* height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        background: #0b2239; */
        /* display: inline-block; */
        width: 80%;
        /* justify-content: space-between; */
        align-items: center;
        background-color: transparent;
        color: #fff;
        padding: 10px;
        /* border: 2px dashed white; */
        display: flex;
        justify-content: center;
    }
    header .header-left {
        display: flex;
        align-items: center;
    }
    header .header-left .logo {
        width: 140px;
    }
    header .header-left nav {
        margin-left: 50px;
    }
    header .header-left nav ul {
        display: flex;
    }
    nav {
        display: inline-block;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        }
        .nav-links {
            display: inline-block;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;
            /* border: 2px dashed yellow; */
            
            
            }
            .nav-links li {
                margin: 0 10px;
                display: block;
                }
    
    nav ul li a {
        display: block;
        color: #cfd9e0;
        font-size: 18px;
        padding: 5px 10px;
        transition: 0.2s;
    }
    nav a{
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        /* background-color: #f2f2f2; */
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(2.3px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    nav ul li a:hover,
    nav ul li a.active {
        color: #fff;
    }
    /* header .header-right {
        display: flex;
        align-items: center;
    } */
    header .login-signup {
        color: #cfd9e0;
        font-weight: bold;
    }
    header .login-signup a {
        display: inline-block;
        color: #0b2239;
        background: #4ad295;
        padding: 5px 12px;
        border-radius: 5px;
    }
    header .header-right .hamburger {
        margin-left: 20px;
        cursor: pointer;
        display: none;
    }
    header .header-right .hamburger div {
        width: 30px;
        height: 2px;
        margin: 6px 0;
        background: #fff;
    }
    @media only screen and (max-width: 1000px) {
        header {
            padding: 0 20px;
        }
        header .header-right .hamburger {
            display: block;
        }
        header .header-left nav {
            margin: 0;
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: fit-content;
            background-color: #0b2239;
            padding: 30px;
            transition: 0.3s;
            text-align: center;
            z-index: 9999;
        }
        header .header-left nav.active {
            top: 150px;
        }
        header .header-left nav ul {
            display: block;
        }
    }
    /* .konten{
        border: 2px dashed red;
    } */
        .konten img{
            width:200px;
        }
        .konten h1{
            color:yellow;
            font-family:bread;
            font-size: 75px;
        }
        .konten h2{
            color: white;
            font-family:Times New Roman, serif;
            
            
        }
        


footer {
    position: fixed;
    bottom: 0;
}

.footer {
    background-color: #040a18;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Time New Roman', Times, serif;
}

.footer .footer-left img {
    width: 25%;
    vertical-align: middle;
}

.footer .footer-left .logo {
    width: 100%;
}

.footer .footer-copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: rgb(22, 255, 177);
    text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgb(0, 122, 82);
}

@media (max-width: 880px) {

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }

}